.navBar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 3px rgba(138, 138, 138, 0.774);
    font-size: 40px;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right a{
    margin: 0 15px;
}

.navBar a{
    padding: 40px 0;
}

.navBar a:hover{
    height: 40px;
    width: 100%;
    background-color: rgba(138, 138, 138, 0.774);
}